<!DOCTYPE html>

<html lang="en">

<head>

  <title>Stack overflow clone</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>

  #logBtn {

  position: absolute;

  top: 10px;

  right: 90px;

 

}

 

#signupBTN {

  position: absolute;

 

  top: 10px;

  right: 15px;

}

.footer {

   position: fixed;

   left: 0;

   bottom: 0;

   width: 100%;

   background-color: #f0f5f5;

   color: black;

   text-align: left;

}

  </style>

 

</head>

<body>

 

<nav class="navbar navbar-default">

  <div class="container-fluid">

    <div class="navbar-header">

      <a class="navbar-brand" href="#">StackoverFlow</a>

    </div>

    <ul class="nav navbar-nav">

      <li class="active"><a href="#">Home</a></li>

      <li><a href="About.html">About us</a></li>

      <li><a href="#">Products</a></li>

      <li><a href="#">Contact</a></li>

    </ul>

                <input type="button" id="logBtn" class="btn btn-secondary" value="Log in" onClick="window.open('About.html');">

                <input type="button" id="signupBTN" class="btn btn-secondary" value="Sign up">

  </div>

</nav>

 

<div class="footer">

<p>Stack overflow clone website</p>

 

</div>

 

</body>

</html>